@font-face {
  font-family: 'Ecosmith Script';
  src: url('assets/fonts/ecosmithscript-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/ecosmithscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




body, h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Ecosmith Script', cursive !important;
}




body, html {height: 100%}

p {line-height: 2}

.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
}

.bgimg{
background-size: cover;
}
.bgimg2{
  background-size: cover;
}
.bgimg {background-image: url("assets/images/IMG_4476.jpg")}
.bgimg2 {background-image: url("assets/images/IMG_4530.jpg")}

.bold{
  font: bold;
}

:root {
  --dorado: #bfa046; /* Dorado elegante */
  --bordo: #800020;
}

.texto-dorado {
  color: var(--dorado);
}


.texto-bordo {
  color: var(--bordo);
}

.boton-bordo {
  background-color: var(--bordeaux);
  color: white; /* para que el texto contraste */
  border: none;
}

.bgimg3 {
  background-image: url("assets/images/IMG_4513.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}
